@use "../variables" as *;
@use "../media" as *;

.choices {
  // .choices__btn
  &__btn {
    // .choices__btn_open
    &_open {
      &.filter__select::after {
        -webkit-transform: scale(-1);
        -moz-transform: scale(-1);
        -ms-transform: scale(-1);
        -o-transform: scale(-1);
        transform: scale(-1);
      }
    }
  }

  // .choices__box
  &__box {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: $white;
    @include adaptiveValue("padding", 24, 16, 1440, $mobile);
    @include adaptiveValue("font-size", 18, 14, 1440, $mobile);

    // .choices__box_open
    &_open {
      display: block;
    }
  }
}
