@use "../variables" as *;
@use "../media" as *;

.choices {
  // .choices__btn
  &__btn {
    // .choices__btn_open
    &_open {
      &.filter__select::after {
        -webkit-transform: scale(-1);
        -moz-transform: scale(-1);
        -ms-transform: scale(-1);
        -o-transform: scale(-1);
        transform: scale(-1);
      }
    }
  }

  // .choices__box
  &__box {
    // .choices__box_open
    &_open {
      display: block;
    }
  }
}
