@use "../variables" as *;
@use "../media" as *;

.footer {
  background-color: $footer;
  background-image: url("/img/footer-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  // background-size: contain;
  @include adaptiveValue("background-size", 1900, 710, 1900, $mobile);
  @include adaptiveValue("padding-top", 80, 60, 1024, 768);
  @include adaptiveValue("padding-bottom", 80, 60, 1024, 768);

  @media (min-width: 1900px) {
    background-size: cover;
  }

  // .footer__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    @include adaptiveValue("gap", 60, 40, 1024, 768);
  }

  // .footer__logo
  &__logo {
    width: 200px;
  }

  // .footer__contacts
  &__contacts {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .footer__email
  &__email {
    display: inline-block;
    margin-bottom: 16px;
  }

  // .footer__link
  &__link {
    transition: color 0.3s;

    &:hover {
      color: $light-orange;
    }
  }

  // .footer__list
  &__list {
    display: flex;

    // .footer__list_social
    &_social {
      align-items: center;
      justify-content: center;
      gap: 12px;
      color: $orange;
    }

    // .footer__list_info
    &_info {
      flex-direction: column;
      gap: 3px;
    }
  }

  // .footer__item
  &__item {
  }

  // .footer__developers
  &__developers {
  }

  // .footer__text
  &__text {
  }

  // .footer__copyright
  &__copyright {
    text-transform: uppercase;
  }
}
