@use "../variables" as *;
@use "../media" as *;

.hero {
  @include adaptiveValue("padding-top", 60, 40, 1024, 768);
  @include adaptiveValue("padding-bottom", 60, 40, 1024, 768);

  // .hero__container
  &__container {
  }

  // .hero__hgroup
  &__hgroup {
    margin-bottom: 24px;
  }

  // .hero__title
  &__title {
    font-family: $second-family;
    font-weight: 400;
    // calc($min-size+px + (($max-size - $min-size) * ((100vw - $next-breakpoint+px) / ($prev-breakpoint - $next-breakpoint))));
    // font-size: clamp(80px, calc(80px + ((120 - 80) * ((100vw - 1024px) / (1440 - 1024)))), 120px);
    @include adaptiveValue("font-size", 120, 80, 1440, 1024);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: $green;

    @include laptop {
      @include adaptiveValue("font-size", 80, 58, 1023.98, 768);
    }

    @include tablet {
      @include adaptiveValue("font-size", 58, 40, 767.98, 320);
    }
  }

  // .hero__subtitle
  &__subtitle {
    font-family: $second-family;
    font-style: italic;
    font-weight: 400;
    // font-size: clamp(32px, calc(32px + ((40 - 32) * ((100vw - 1024px) / (1440 - 1024)))), 40px);
    @include adaptiveValue("font-size", 40, 32, 1440, 1024);
    line-height: 1.3;
    text-align: right;

    @include laptop {
      @include adaptiveValue("font-size", 32, 24, 1023.98, 768);
    }

    @include tablet {
      @include adaptiveValue("font-size", 24, 18, 1023.98, 768);
    }
  }

  // .hero__group-images
  &__group-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%; /* 26/1300 */
  }

  // .hero__image
  &__image {
    object-fit: cover;
    aspect-ratio: 284/352;

    // .hero__image_left
    &_left {
      width: calc(284 / $container-width * 100%);
      border-radius: 400px 400px 400px 0;
    }

    // .hero__image_center
    &_center {
      aspect-ratio: 680/588;
      width: calc(680 / $container-width * 100%);
    }

    // .hero__image_right
    &_right {
      width: calc(284 / $container-width * 100%);
      border-radius: 400px 0 400px 400px;
    }
  }
}
