@use "../variables" as *;

.subscribe {
  padding: 140px 0;
  @include adaptiveValue("padding-top", 140, 100, 1024, 768);
  @include adaptiveValue("padding-bottom", 140, 100, 1024, 768);

  // .subscribe__container
  &__container {
  }

  // .subscribe__title
  &__title {
    @include adaptiveValue("margin-bottom", 40, 24, 1024, 768);
  }

  // .subscribe__form
  &__form {
    position: relative;
    max-width: 524px;
    width: 100%;
    height: 40px;
    margin: 0 auto;
  }

  // .subscribe__input
  &__input {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    border: none;
    background-color: $white;
    padding: 8px 45px 8px 16px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;

    &::placeholder {
      color: rgba($dark, 0.3);
    }

    &:hover {
      background-color: $footer;
    }

    &:focus,
    &:focus-visible {
      outline: 1px solid $light-orange;
    }

    &::-webkit-search-cancel-button {
      margin-left: 6px;
    }
  }

  // .subscribe__btn
  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-orange;
    color: $white;
    border: 1px solid transparent;
    outline: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;

    &:hover {
      background-color: $orange;
    }

    &:focus,
    &:focus-visible {
      background-color: $orange;
      border-color: $light-orange;
    }

    &:disabled {
      background-color: $light-orange;
      opacity: 0.4;
    }
  }
}
