@use '../variables' as *;
@use '../media' as *;

.preload {
  display: none;
  position: absolute;
  inset: 0;
  z-index: 999;
  justify-content: center;
  padding-top: 200px;

  &::after {
    content: '';
    display: block;
    border: 5px solid $green;
    border-top-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 1s linear infinite;
  }

  @include mobile {
    padding-top: 100px;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}