@use "variables" as *;
@use "media" as *;

:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: $font-family;
  background-color: $bg;
  color: $dark;
  @include adaptiveValue("font-size", 18, 14, $tablet, $mobile);
  line-height: 1.3;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset {
  font-family: inherit;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

[class*="__container"] {
  max-width: calc(var(--container-width) + var(--container-offset) * 2);
  margin: 0 auto;
  padding: 0 var(--container-offset);

  @include tablet {
    --container-width: 640px;
  }

  @include mobile {
    --container-offset: 14px;
  }
}

.section-title {
  font-family: $second-family;
  font-weight: 400;
  font-size: 50px;
  @include adaptiveValue("font-size", 50, 32, $laptop, $tablet);
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: $green;
}

.delivery {
  padding-left: 20px;
  background-image: url("/img/delivery-icon.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  @include adaptiveValue('font-size', 14, 12, $tablet, $mobile);
}
